* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #dcbbee; /* Liliowy kolor tła */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.cv-container {
    width: 60%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

p, ul {
    font-size: 16px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

.section {
    margin-bottom: 20px;
}

.footer {
    text-align: center;
    font-size: 14px;
    color: #555;
}